<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css"/>
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>
    <article class="ladoalado">
      <section id="campeonatos">
        <form id="tabela" name="tabela" method="POST">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th># de participantes</th>
                <th>% concluído</th>
                <th>Vencedor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each usuarios}}
              {{#each campeonatos}}
                <tr>
                  <td>{{nome}}</td>
                  <td>{{num_participantes}}</td>
                  <td>{{prc_concluido}}</td>
                  <td>{{vencedor}}</td>
                  <td>
                      <div id="view{{@index}}" class="botao view"></div>
                  </td>
                </tr>
              {{/each}}
              {{/each}}
              <input id="index" name="index" type="hidden" value=""/>
            </tbody>
          </table>
        </form>
      </section>
    </article>
    <script src="../js/comum.js"></script>
    <script src="../js/campeonatos.js"></script>
  </body>
</html>
