<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/comum.css">
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    {{#if error}}
      <section class="messagebar error">
        {{error}}
      </section>
    {{/if}}
    {{#if success}}
      <section class="messagebar success">
        {{success}}
      </section>
    {{/if}}
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>

    <article class="ladoalado">
      <section>
        <section>
          <img class="avatar" src="../img/{{user.id}}.png" alt="Avatar"/>
        </section>
        <section>
          Nome: {{user.nome}} <br/>
          E-mail: {{user.email}} <br/>
        </section>
      </section>

      <section id="campeonatos">
        <form id="tabela" name="tabela" method="POST">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th># de participantes</th>
                <th>% concluído</th>
                <th>Vencedor</th>
                <th><div id="add" class="botao add"></div></th>
              </tr>
            </thead>
            <tbody>
              {{#each user.campeonatos}}
              <tr>
                <td>{{nome}}</td>
                <td>{{num_participantes}}</td>
                <td>{{prc_concluido}}</td>
                <td>{{vencedor}}</td>
                <td>
                    <div id="view{{@index}}" class="botao view"></div>
                    <div id="edit{{@index}}" class="botao edit"></div>
                    <div id="delete{{@index}}" class="botao delete"></div>
                </td>
              </tr>
              {{/each}}
              <input id="index" name="index" type="hidden" value=""/>
            </tbody>
          </table>
        </form>
      </section>
    </article>
    <script src="../js/perfil.js"></script>
    <script src="../js/comum.js"></script>
  </body>
</html>
