<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/comum.css">
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>

    <article class="ladoalado">
      <section>
        <img class="avatar" src="../img/allejo.jpg" alt="Avatar"/>
        Nome: {{nome}} <br/>
        E-mail: {{email}} <br/>
      </section>

      <section id="campeonatos">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th># de participantes</th>
              <th>% concluído</th>
              <th>Vencedor</th>
              <th><img id="botaonovo" class="botao adicionar" src="../img/add.png" alt="Criar campeonato"/></th>
            </tr>
          </thead>
          <tbody>
            {{#each campeonatos}}
            <tr>
              <td>{{nome}}</td>
              <td>{{num_participantes}}</td>
              <td>{{prc_concluido}}</td>
              <td>{{vencedor}}</td>
            </tr>
            {{/each}}
            <!--<tr>
              <td>Campeonato 2</td>
              <td>8</td>
              <td>25</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Campeonato 3</td>
              <td>32</td>
              <td>100</td>
              <td>Allejo</td>
            </tr>
            <tr>
              <td>Campeonato 4</td>
              <td>64</td>
              <td>50</td>
              <td>-</td>
            </tr>-->
          </tbody>
        </table>
      </section>
    </article>
    <script src="../js/perfil.js"></script>
    <script src="../js/comum.js"></script>
  </body>
</html>
