<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css"/>
    <link rel="stylesheet" href="../css/ver-campeonato.css"/>
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>
    <article class="ladoalado">
      <section>
        Participantes
        <ul>
          {{#each campeonato.times}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
      <section>
        Partidas
        <table>
          <thead>
            <tr>
              <th>
                Time 1
              </th>
              <th>
                Placar
              </th>
              <th>
                Time 2
              </th>
              <th>
                Fase
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each campeonato.jogos}}
            <tr>
              <td>
                {{time1}}
              </td>
              <td>
                {{placarTime1}}x{{placarTime2}}
              </td>
              <td>
                {{time2}}
              </td>
              <td>
                {{fase}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
      <section>
        <input id="partidasconcluidas" type="hidden" value="{{campeonato.jogos.length}}"/>
        <input id="numtimes" type="hidden" value="{{campeonato.times.length}}"/>

        Concluído
        <section id="barra">
          <section id="concluido">

          </section>
        </section>
      </section>
    </article>
    <script src="../js/ver-campeonato.js"></script>
    <script src="../js/comum.js"></script>
  </body>
</html>
